algoliasearch-django>=2.0,<3.0
django>=4.0.0,<4.1.0
djangorestframework
djangorestframework-simplejwt
pyyaml
requests
django-cors-headers

# added for docker/kube
gunicorn
django-dotenv
psycopg2-binary
django-storages
boto3
